<script
  src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js"
  integrity="sha256-dImjLPUsG/6p3+i7gVKBiDM8EemJAhQ0VvkRK2pVsQY="
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.49.1/dist/instantsearch.production.min.js"
  integrity="sha256-3s8yn/IU/hV+UjoqczP+9xDS1VXIpMf3QYRUi9XoG0Y="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script>
  var SOURCES = window.TEXT_VARIABLES.sources;
  window.Lazyload.js([SOURCES.jquery], function () {
    var search = window.search || (window.search = {});

    // search box
    var $result = $(".result"),
      $resultItems;
    var lastActiveIndex, activeIndex;

    function clear() {
      $result.html(null);
      $resultItems = $(".ais-Hits-item item");
      activeIndex = 0;
    }
    function onInputNotEmpty(val) {
      $result.html(render(searchByQuery(val)));
      $resultItems = $(".ais-Hits-item item");
      activeIndex = 0;
      $resultItems.eq(0).addClass("active");
    }

    function updateResultItems() {
      lastActiveIndex >= 0 &&
        $resultItems.eq(lastActiveIndex).removeClass("active");
      activeIndex >= 0 && $resultItems.eq(activeIndex).addClass("active");
    }

    function moveActiveIndex(direction) {
      var itemsCount = $resultItems ? $resultItems.length : 0;
      if (itemsCount > 1) {
        lastActiveIndex = activeIndex;
        if (direction === "up") {
          activeIndex = (activeIndex - 1 + itemsCount) % itemsCount;
        } else if (direction === "down") {
          activeIndex = (activeIndex + 1 + itemsCount) % itemsCount;
        }
        updateResultItems();
      }
    }

    // Char Code: 13  Enter, 37  ⬅, 38  ⬆, 39  ➡, 40  ⬇
    $(window).on("keyup", function (e) {
      var modalVisible = search.getModalVisible && search.getModalVisible();
      if (modalVisible) {
        if (e.which === 38) {
          modalVisible && moveActiveIndex("up");
        } else if (e.which === 40) {
          modalVisible && moveActiveIndex("down");
        } else if (e.which === 13) {
          modalVisible &&
            $resultItems &&
            activeIndex >= 0 &&
            $resultItems.eq(activeIndex).children("a")[0].click();
        }
      }
    });

    $result.on("mouseover", ".search-result__item > a", function () {
      var itemIndex = $(this).parent().data("index");
      itemIndex >= 0 &&
        ((lastActiveIndex = activeIndex),
        (activeIndex = itemIndex),
        updateResultItems());
    });
  });

  const searchClient = algoliasearch(
    "{{ site.algolia.application_id }}",
    "{{ site.algolia.search_only_api_key }}"
  );

  const { searchBox, hits, configure, stats } = instantsearch.widgets;

  const search = instantsearch({
    indexName: "{{ site.algolia.index_name }}",
    searchClient,
    searchFunction(helper) {
      if (helper.state.query) {
        helper.search();
      }
    },
  });

  search.addWidgets([
    searchBox({
      container: "#search-searchbar",
      placeholder: "搜索看看",
      searchAsYouType: true,
      autofocus: false,
      showReset: false,
      showSubmit: false,
      cssClasses: {
        input: "search-input",
      },
    }),

    hits({
      container: "#search-hits",
      cssClasses: {
        item: "item",
      },
      templates: {
        empty(results, { html }) {
          return html`没有找到「${results.query}」相关的文章哦！`;
        },
        item(hit, { html, components }) {
          url = hit.url;
          return html`
            <a href="${url}">
              ${components.Snippet({ hit, attribute: "html" })}
            </a>
          `;
        },
      },
    }),
    configure({
      attributesToSnippet: ["title", "html", "headings"],
    }),
    stats({
      container: "#search-stats",
      templates: {
        text(data, { html }) {
          let count = "";
          if (data.hasManyResults) {
            count += `${data.nbHits} `;
          } else if (data.hasOneResult) {
            count += `1`;
          } else {
            count += `0`;
          }
          return html`
            ${data.processingTimeMS} ms内找到${count}条结果
            <span class="algolia-powered"></span>
            <hr />
          `;
        },
      },
    }),
  ]);

  search.start();
</script>
