---
layout: articles
---
{% for cat in site.categories %}
<div class="article-list items">
    <h3 class="article-list__group-header">{{ cat | first }}</h3>
    <ul class="items">
          {% for post in cat[1] %}
            <li class="item">
              <div class="item__content">
              <span class="item__meta">{{ post.date | date: "%Y年%m月%d日" }}</span>
              <a item prop="headline" class="item__header" href="{{ post.url }}" title="{{ cat[0] }}">{{ post.title }}</a>
              </div>
            </li>
          {% endfor %}
</ul>
</div>
{% endfor %}


